.App {
  text-align: center;
}

.box {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 25px;
  margin-bottom: 30px;
  font-family: monospace;
}
.title.day {
  color: aliceblue;
}
.title.night {
  color: rgb(202, 202, 202);
}

.nightTime {
  height: 250px;
  width: 250px;
  background: url("./images/moon.svg") no-repeat;
  background-size: contain;
}
.dayTime {
  height: 250px;
  width: 250px;
  background-image: url("./images/sun.svg");
  background-size: contain;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: background-color 0.5s ease;
}

.dark {
  background-color: #0e2a47;
}
.light {
  background-color: rgb(49, 197, 255);
}
